#page-base-content {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  display: table;
}

#page-base-footer {
  width: 100%;
  background-color: grey;
  display: table;
  height: 0;
}

main {
  max-width: 100vw;
}